#notice_table {display: table; width: 100%; border: 1px solid black;}
.notice_row {display: table-row;}
.notice_cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}
.notice_col1 { width: 10%;}
.notice_col2 {width: 60%;}
.notice_col3 {width: 20%;}
.notice_col4 {width: 10%;}

#noticeselect_table {display: table; width: 100%;}
.noticeselect_row {display: table-row;}
.noticeselect_cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}
.noticeselect_col1 { width: 10%;}
.noticeselect_col2 {width: 60%;}
.noticeselect_col3 {width: 20%;}
.noticeselect_col4 {width: 10%;}


#qna_table {display: table; width: 50%; border: 1px solid black;}
.qna_row {display: table-row;}
.qna_cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}
.qna_col1 { width: 90%;}
.qna_col2 {width: 50%;}
.qna_col3 {width: 50%;}
.qna_col4 {width: 10%;}
.qna_col5 {width: 10%;}

#usermanagement_table {display: table; width: 100%; border: 1px solid black;}
.usermanagement_row {display: table-row;}
.usermanagement_cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}
.usermanagement_col1 { width: 20%;}
.usermanagement_col2 {width: 20%;}
.usermanagement_col3 {width: 20%;}
.usermanagement_col4 {width: 20%;}
.usermanagement_col5 {width: 20%;}

#userselect_table {display: table; width: 80%; border: 1px solid black;}
.userselect_row {display: table-row;}
.userselect_cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}
.userselect_col1 { width: 10%; color: white;}
.userselect_col2 {width: 70%; color: black;}
.userselect_col3 {width: 20%;}
.userselect_col4 {width: 20%;}
.userselect_col5 {width: 20%;}

#nsp { color: black; }