@charset "utf-8";

.section{position:relative; overflow:hidden;}

/* 상단 비주얼 */
#homeArea {width:100%;height:938px;background-repeat:no-repeat;background-position:center top;background-size:cover;overflow:hidden; z-index:1;}
#homeArea .homeAreaIn{position:absolute;left:0;top:50%;width:100%;margin-top:-85px;text-align:center; color:#FFF; font-weight:100; font-size:42px; }
#homeArea .homeAreaIn b{font-weight:400;}
#homeArea .homeAreaIn a{display:inline-block; margin-top:50px; border:1px solid #fff; width:180px; height:45px; line-height:45px; font-size:17px; color:#FFF; }
#homeArea .homeAreaIn a:hover{background:#FFF; color:#333;}

@media all and (max-width:1024px) {
	#homeArea{height:950px;}
	#homeArea .homeAreaIn{font-size:38px;}
	#homeArea .homeAreaIn a{width:150px; height:40px; line-height:40px; font-size:16px;}
}

@media all and (max-width:780px) {
	#homeArea{height:510px;}
	#homeArea .homeAreaIn{font-size:34px;}
}

@media all and (max-width:550px) {
	#homeArea .homeAreaIn{font-size:32px;}
	#homeArea .homeAreaIn a{width:140px; height:40px; line-height:40px; font-size:15px;}
}

@media all and (max-width: 460px){
	#homeArea .homeAreaIn{font-size:24px;}
}

/*slider*/
.slider { float: left; }
.slider .jquery-reslider .slider-block {width: 100%; height: 100%; position: absolute; z-index: 97; background-position: 50% 50%; background-size: cover; opacity: 0;}
.slider .jquery-reslider .slider-dots { position: absolute; width: 100%; text-align: center; bottom: 20px;}
.slider .jquery-reslider .slider-dots li {width:40px; height:5px; display: inline-block; margin:0 2px; background-color:none; border:1px solid #fff; cursor: pointer; opacity:0.8}
.slider .jquery-reslider .slider-dots li.active { background-color: #fff; }

@media screen and (max-width: 768px) {
	.slider .jquery-reslider .slider-dots { position: absolute; }
}

/******/
.main_slide_wrap{width:100%; height:100%; overflow:hidden;}
.main_slide_wrap .main_slide_box{position:relative;}
.main_slide_wrap .main_slide_box .txt_bx{position:absolute; top:35%;width:100%; z-index:1; color:#FFF; font-size:2.3em; font-weight:100; text-align:center;}
.main_slide_wrap .main_slide_box .txt_bx b{font-weight: 400;}
.main_slide_wrap .main_slide_box img.mo{display:none;}
@media screen and (max-width: 750px) {
	.main_slide_wrap .main_slide_box img.mo{display:block;}
	.main_slide_wrap .main_slide_box img.pc{display:none}
}

#container{margin-top:59px;}
@media all and (max-width:1000px) {
	#container{margin-top:59px;}
	.main_slide_wrap .main_slide_box .txt_bx{top:31%}
}

/**/
.sec_tit{width:100%; overflow:hidden; margin:100px auto; box-sizing:border-box;}
.sec_tit .en{font-size:16px; letter-spacing:1em; font-weight:300; color:#666; margin-left:2em }
.sec_tit .tit{margin:10px auto; font-size:40px;}
.sec_tit .con{font-weight:300; color:#333; font-size:18px;}
#sec02 .sec_tit .en{letter-spacing:1em; margin-left:1em}

@media all and (max-width:1200px) {
	.sec_tit{margin:80px auto;}
	.sec_tit .en{font-size:13px;}
	.sec_tit .tit{font-size:34px;}
	.sec_tit .con{font-size:17px;}
}
@media all and (max-width:640px) {
	.sec_tit{margin:60px auto;}
	.sec_tit .en{font-size:13px;}
	.sec_tit .tit{font-size:30px; margin:8px auto; }
	.sec_tit .con{font-size:16px;}
}
@media all and (max-width:550px) {
	.sec_tit{padding:0 10px;}
	.sec_tit .en{font-size:13px; letter-spacing:1em; margin-left:1em;}
	.sec_tit .tit{font-size:26px;}
	.sec_tit .con{font-size:15px;}
	.sec_tit .con br.mo{display:block;}
	#sec02 .sec_tit{margin-bottom:30px;}
	#sec02 .sec_tit .en{letter-spacing:0.5em; margin-left:0.5em}
}
@media all and (max-width:400px) {
	.sec_tit .en{letter-spacing:0em; margin-left:0em;}
	#sec02 .sec_tit .en{letter-spacing:0em; margin-left:0em}
	.sec_tit .tit{font-size:24px;}
}

#sec01{z-index:1; padding-bottom:120px;}
.sec01_con_wrap{width:95%; margin:0 auto;}
.sec01_con_wrap .sec01_con_box{position:relative; width:20%; float:left; height:530px;}
.sec01_con_box .txt_box{box-sizing:border-box; position:absolute; background:#FFF; width:85%; margin-left:-42.5%; left:50%; top:80%;  z-index:1; padding:40px 10px; box-shadow:0 0 4px rgba(0,0,0,0.2);}
.sec01_con_box .t{font-size:30px; color:#434343;}
.sec01_con_box .bar{width:20px; height:1px; background:#434343; margin:15px auto;}
.sec01_con_box .c{font-size:16px; color:#434343; font-weight:300;}
.sec01_con_box a{display:none; width:50%; padding:7px 0; border:1px solid #826d5f; color:#826d5f; margin-top:20px; }
.sec01_con_box a:hover{background:#826d5f; color:#fff;}
.sec01_con_box .mo_txt_box{display:none; width:80%; height:70%; box-sizing:border-box; padding:21px 10px 0; background:rgba(255,255,255,0.95); box-shadow:0 0 4px rgba(0,0,0,0.1); position:absolute; top:15%; left:10%; z-index:1; }
.sec01_con_box .mo_txt_box a{display:inline-block;}
.sec01_con_box .mo_txt_box:hover{background:rgba(255,255,255,0.8);}
.sec01_con_box .mo_txt_box:hover a{background:#826d5f; color:#FFF;}

.bar{width:20px; height:1px; background:#434343; margin:15px auto;}
.sec01_con_box .img_box{opacity:1; position:absolute; width:100%; height:100%; top:0; left:0; background-repeat:no-repeat; background-position:center center;}
.sec01_con_box1 .img_box{background-color:#594E43;background-image:url(/images/main/sec01_img_06.png);} /*sec01_img_01*/
.sec01_con_box2 .img_box{background-color:#000;background-image:url(/images/main/sec01_img_07.png);}
.sec01_con_box3 .img_box{background-color:#594E43;background-image:url(/images/main/sec01_img_08.png);}
.sec01_con_box4 .img_box{background-color:#000;background-image:url(/images/main/sec01_img_09.png);}
.sec01_con_box5 .img_box{background-color:#594E43;background-image:url(/images/main/sec01_img_10.png);}

.sec01_con_box1,
.sec01_con_box3,
.sec01_con_box5{background-color:#594E43}

.sec01_con_box2,
.sec01_con_box4{background-color:#000}

.sec01_con_box:hover .img_box{opacity:0.85; transition-duration: 300ms;   transition-property: all;   transition-timing-function: ease;}
.sec01_con_box:hover .txt_box{background:rgba(255,255,255,0.9); padding:60px 10px; transition-property: all;   transition-timing-function: ease;}
.sec01_con_box.over .txt_box a{display:inline-block; }

@media all and (max-width:1400px) {
	.sec01_con_wrap{width:100%;}
	.sec01_con_wrap .sec01_con_box{height:380px;}
	.sec01_con_box .txt_box .t{font-size:28px;}
	.sec01_con_box .txt_box .c{font-size:15px;}
	.sec01_con_box:hover .txt_box{padding:30px 10px;}
	.sec01_con_box .txt_box{ padding:27px 10px; min-height:190px;}

}
@media all and (max-width:1280px) {
	.sec01_con_box .txt_box .t{font-size:26px;}
	.sec01_con_box .txt_box{min-height:175px; padding:20px 10px; }
}
@media all and (max-width:1100px) {
	.sec01_con_wrap  .sec01_con_box1,
	.sec01_con_wrap  .sec01_con_box2{width:50%;}
	.sec01_con_wrap  .sec01_con_box3,
	.sec01_con_wrap  .sec01_con_box4,
	.sec01_con_wrap  .sec01_con_box5{width:33.3%; }
	.sec01_con_wrap .sec01_con_box{height:320px; overflow:hidden !important;}

	.sec01_con_box .txt_box{display:none !important}
	.sec01_con_box .t{font-size:28px;}
	.sec01_con_box .bar{margin:10px auto}
	.sec01_con_box .c{font-size:15px;}

	.sec01_con_box .mo_txt_box{display:block; padding:32px 10px 0;}
	.sec01_con_box .img_box{background-size:cover; transition:all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94); -webkit-transition:all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94)}
	.sec01_con_box:hover .img_box{-webkit-transform: scale(1.1);  transform: scale(1.1);}
}

@media all and (max-width:800px) {
	.sec01_con_wrap{width:95%;}

	.sec01_con_wrap  .sec01_con_box1,
	.sec01_con_wrap  .sec01_con_box2,
	.sec01_con_wrap  .sec01_con_box3,
	.sec01_con_wrap  .sec01_con_box4,
	.sec01_con_wrap  .sec01_con_box5{width:100%; }
	.sec01_con_wrap .sec01_con_box{height:240px; overflow:hidden !important;}

	.sec01_con_box .t{font-size:26px; color:#FFF;}
	.sec01_con_box .bar{margin:5px auto; background:#FFF;}
	.sec01_con_box .c{font-size:14px;  color:#FFF;}
	.sec01_con_box .c br.pc{display:none;}
	.sec01_con_box a{color:#FFF; border:1px solid #FFF;}
	.sec01_con_box .mo_txt_box:hover a{background:#fff; color:#333;}

	.sec01_con_box .mo_txt_box{background:none; display:block; padding:32px 10px 0; width:90%; height:80%; top:10%; left:5%; box-shadow:none;}
	.sec01_con_box .mo_txt_box:hover{background:none; }
	.sec01_con_box .img_box{opacity:0.2;}
	.sec01_con_box1,
	.sec01_con_box3,
	.sec01_con_box5{background-color:#4a3520}

	.sec01_con_box2,
	.sec01_con_box4{background-color:#000}


}
@media all and (max-width:550px) {
	.sec01_con_wrap .sec01_con_box{height:200px; }
	.sec01_con_box .mo_txt_box{padding:22px 10px 0;}
	.sec01_con_box .t{font-size:22px;}
	.sec01_con_box a{padding:5px 0; margin-top:10px; }
	#sec01{padding-bottom:0;}
}

#sec02{padding-top:180px; padding-bottom:80px; margin-top:-180px; z-index:0; background:#f7f4ee/* url(/images/main/sec02_bg.png) no-repeat center cente0r*/; background-size:cover;}

@media all and (max-width:700px) {
	#sec02 .s_img img{width:80%}
}

#sec03{}
.sec03_box{box-sizing:border-box; height:350px; width:33.3%; float:left; overflow:hidden; color:#FFF;}
.sec03_box .root_daum_roughmap .wrap_controllers{display:none;}
.sec03_box01 .root_daum_roughmap_landing{width:100% !important;}
.sec03_box01 .root_daum_roughmap .map_border{display:none;}
/*.sec03_box01 .root_daum_roughmap .wrap_map{height:100% !important;}*/
.sec03_box02{background-color:#948778; padding:45px 30px 0;}
.sec03_box02 .tit{font-weight:300; font-size:36px; padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid rgba(255,255,255,0.3);}
.sec03_box02 .time{text-align:left; padding:0 10px; width:100%; overflow:hidden;}
.sec03_box02 .time li{width:48%; font-size:0.95em; float:left; font-weight:300; margin-bottom:10px; font-family:"Roboto","Noto Sans KR";}
.sec03_box02 .time li:nth-of-type(2n){float:right;}
.sec03_box02 .time li span{width:80px; display:inline-block; }
.sec03_box02 .time li span:after{content:"|"; font-family:"dotum"; color:rgba(255,255,255,0.3); margin:0 10px; float:right; padding-top:6px;}
.sec03_box02 .ad{margin:25px 0 15px}
.sec03_box02 .tel a{color:#FFF; font-size:38px; font-weight:bold;}
.sec03_box03{background:#5A4F44 url('/images/main/sec03_bg_01.png') no-repeat center right; padding:80px 40px 0}
.sec03_box03 .na{font-size:20px;}
.sec03_box03 .na b{font-size:40px;}
.sec03_box03 .con{color:rgba(255,255,255,0.8); margin:15px 0 25px;}
.sec03_box03 a{display:inline-block; width:200px; padding:11px 0; border:1px solid #fff; color:#fff; text-align:center; font-weight:300;}
.sec03_box03 a:hover{color:#5A4F44; background:#FFF; font-weight:500}

@media all and (max-width:1250px){
	.sec03_box02{padding:30px 20px 0;}
	.sec03_box02 .time{padding:0;}
	.sec03_box02 .time li{width:100%; float:left; margin-bottom:2px;}
	.sec03_box02 .ad{margin:15px 0 5px;}
}

@media all and (max-width:1100px) {
	.sec03_box{ height:300px;}
	.sec03_box01 .root_daum_roughmap .wrap_map{height:300px !important;}
	.sec03_box01{width:100%;}
	.sec03_box02,
	.sec03_box03{width:50%}

	.sec03_box02.center{text-align:left !important;}
	.sec03_box02 .tit{font-size:30px; padding-bottom:10px; margin-bottom:10px; }
	.sec03_box02 .tel a{font-size:30px; }

	.sec03_box03{padding:80px 20px }
	.sec03_box03 .na{font-size:18px;}
	.sec03_box03 .na b{font-size:30px;}
	.sec03_box03 .con{margin:10px 0 15px;}
	.sec03_box03 a{width:180px; padding:10px 0;}
}
@media all and (max-width:700px) {
	.sec03_box{height:auto;}
	.sec03_box01 .root_daum_roughmap .wrap_map{height:260px !important;}
	.sec03_box02,
	.sec03_box03{width:100%}

	.sec03_box02.center{padding:20px 10px; text-align:center !important; font-size:17px;}
	.sec03_box02 .tit{font-size:24px; padding-bottom:5px; margin-bottom:5px; }
	.sec03_box02 .ad{margin:5px 0 5px;}
	.sec03_box02 .tel a{font-size:24px; }
	.sec03_box02 .time{width:215px; margin:0 auto;}
	.sec03_box02 .time li{margin-bottom:2px;}
	.sec03_box02 .time li span{width:70px;}

	.sec03_box03{padding:50px 10px  }
	.sec03_box03 .na{font-size:16px;}
	.sec03_box03 .na b{font-size:26px;}
	.sec03_box03 .con{margin:10px 0 15px;}
	.sec03_box03 a{width:150px; padding:5px 0;}
}
