# .gitignore 
# 주석입니다 
# 제외 파일 추가하기

/target/
/src/main/webapp/META-INF
/.settings/org.eclipse.jdt.core.prefs

# Eclipse #
.project
.metadata
.settings/
.loadpath
.classpath

# Directories #
/build/
/bin/
target/
target/classes/co/huby/prj/*

# Package Files #
*.jar
*.war
*.ear
*.db
*.class
