@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom:0px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}



/**/
.slick-dots li button{display:none;}

/*메일비쥬얼*/
.visual_fade .slick-dots{width:85px; bottom:10px; left:50%; margin-left:-42.5px;}
.visual_fade .slick-dots li{margin:0 5px; width:8px; height:8px; border-radius:10px; background:none; border:1px solid rgba(255,255,255,0.5)}
.visual_fade .slick-dots li button:before{width: 8px; height: 8px; border-radius:10px; border:3px solid #fff; }
.visual_fade  .slick-dots li.slick-active{background:#fff; }
.visual_fade  .slick-dots li.slick-active button:before{opacity:1; background:#fff;}



/*메일비쥬얼*/
.visual_fade2 .slick-dots{width:100%;margin-bottom:0;}
.visual_fade2 .slick-dots li{margin:0 3px; width:10px; height:10px; border-radius:10px; background:#ACACAC;}
.visual_fade2 .slick-dots li button:before{width: 8px; height: 8px; border-radius:10px; border:3px solid #fff; }
.visual_fade2  .slick-dots li.slick-active{width:30px; background:#11338E; }
.visual_fade2  .slick-dots li.slick-active button:before{opacity:1; background:#fff;}


/*메인 사진으로보는*/
#m_gallery .slick-prev{right:29px; top:-34px;left:unset; width:30px; height:30px; border:1px solid #ccc; background:url('/m/images/main/m_slide_prev.png')no-repeat center center; background-color:#FFF;}
#m_gallery .slick-next{right:0;top:-34px;left:unset; width:30px; height:30px; border:1px solid #ccc; background:url('/m/images/main/m_slide_next.png')no-repeat center center; background-color:#FFF;}
#m_gallery .slick-prev:before, #m_gallery .slick-next:before{opacity:0;}